@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$font-poppins: "Poppins", sans-serif;
$dark-purple: #252463;
ul.list-items {
  list-style: none;
  padding-left: 30px;
  list-style-image: url("../img/circle-check-solid.svg");
}

em.invalid {
  color: #f00;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.fz14 {
  font-size: 14px;
}
.order_summary {
  font-size: 20px;
  font-weight: 600;
}
.order_summary .title {
  color: $dark-purple;
}
.order_summary .title.bg {
  font-size: 30px;
}
.total-amount {
  color: #000;
  font-size: 30px;
}

img {
  max-width: 100%;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

body {
  // background-color: rgba($color: #a5a3b7, $alpha: 0.3);
  background-color: #ecebf3;
  font-family: $font-poppins;
}

textarea {
  resize: none;
}

.ls-1 {
  letter-spacing: 1px;
}
.container.title-section {
  max-width: 650px;
}

.title-section {
  background-color: #252463;
  color: #fff;
}
.boost-form > .row > div {
  padding: 30px;
  border: 2px solid rgba($color: #252463, $alpha: 0.1);
  box-shadow: 0 0 14px 8px rgba($color: #252463, $alpha: 0.2);
  background-color: #f3f3f4;
}

.boost-form form .form-group {
  text-align: center;
}
.boost-form form .form-group label {
  font-weight: 500;
}
.boost-form form input,
.boost-form form select {
  border: 1px solid #000;
  text-align: center;
  background-color: #ecebf3;
}

.img-container {
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  margin-top: 20px;
  background: #fff;
}
.terms-content {
  margin-top: 20px;
  padding: 10px;
  background-color: #ecebf3;
  border: 1px solid #000;
  border-radius: 5px;
}
.checkbox-container {
  position: relative;
}
.terms-content input[id="accept"] {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}
.checkbox-container em {
  position: absolute;
  bottom: -30px;
  right: 0;
}
label[for="accept"] {
  text-indent: 30px;
  text-align: justify;
}
.terms-content h5 {
  font-size: 18px;
}

.terms-content .links a {
  font-weight: bold;
  margin-top: 5px;
  display: block;
}
